/* Imports a font to customise the look of texts */
@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&family=Merienda:wght@300..900&display=swap');

body {
    background-color: #EDFFAB;
    margin: 10px auto;
    width: 1000px;    
}

/* Stretching the width and height to make all artworks look consistent */
img {
    width: 100%;
    height: 250px;
}

/* Allowing me to make the images go across the page */
div {
    /* Automatically seperating the spaced between the artworks evenly */
    justify-content: space-between;
    display: flex;
}

/* Allowing to make a border around the elements and make the artworks inline */
.images {
    border: 2px solid grey;
    padding: 10px;
    display: inline-block;
    width: 220px;
    background-image: url('images/BackgroundImage.jpg');
    background-color: rgb(237, 255, 171, 0.7); /* Sets the background color to the rgb value */
    background-blend-mode: lighten; /* Allows the background image to look transparent */
}

/* Customises the likebutton to fit beside the comment button */
.likebutton { 
    width: 30px;
    height: auto;
    display: block;
    margin-top: 5px;
    float: right; /* I've used float instead of vertical align so it doesn't go down when zooming out */
    cursor: pointer;
}

input { /* hides the checkbox */
    display: none;
}

/* makes it change images once clicked on the like button */
input:checked + img {
    content: url('images/LikeButtonClicked.png');
}

/*make the likebutton look slightly transparent when hovering the mouse over it.*/
label img:hover {
    opacity: 0.8;
}

/* Makes a purple button to navigate pages */
button {
    background-color: #2e3192;
    border-radius: 10px;
    height: 60px;
    color: white;
    font-size: 15px;
    width: 200px;
    cursor: pointer;
}

/* Moves the Other Participants button to the right of the page */
.CompButton {
    float: right;
}

/* When hovering over the button, the button turns blue */
button:hover {
    background-color: blue;
}

/* Makes the title centered at the top */
h1 {
    color: #EC7505;
    font-size: 65px;
    font-family: 'Great Vibes';
    text-align: center;
    width: 50%;
    margin: -65px auto 0;
}

h3 {
    text-align: center;
    color: #e89005;
    font-size: 40px;
    margin: 0;
}

h4 {
    text-align: center;
    margin: 10px auto;
    margin-bottom: 0;
    font-size: 15px;
    color: #734779;
    font-style: italic;
}

/* Makes the look of a comment button */
p {
    margin-top: 10px;
    margin-bottom: 0;
    font-size: 16px;
    text-align: center;
    color: rgb(59, 59, 59);
    background-color: lightgray;
    border: 1px gray solid;
    border-radius: 4px;
    width: 180px;
    display: inline-block;
}

/* Allows to style the look of the comment button when typing in it */
[contenteditable="plaintext-only"]:focus { /* lets me style the comment to be styled when edited by the user*/
    background-color: white;
    color: black;
}

/* Makes the name of the artists have no bold */
span {
    font-weight: normal;
}