/* Imports a font to customise the look of texts */
@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&family=Merienda:wght@300..900&display=swap');

body {
    background-color: #EDFFAB;
    margin: 10px auto;
    width: 1000px;
}

/* makes a border around the artwork and the writings */
div {
    border: 2px solid grey;
    padding: 10px;
    display: inline-block;
    width: 330px;
    background-image: url('images/BackgroundImage.jpg');
    background-color: rgb(237, 255, 171, 0.5); /* Sets the background color to the rgb value */
    background-blend-mode: lighten; /* Allows the background image to look transparent */
}

img {
    width: 100%;
}

/* Makes the right image go to the right of the page */
.rightimage {
    float: right;
}


img.logo {
    display: block;
    transform: translate(-50%); /*moves the origin to the center of the element*/
    width: 70px;
    height: auto;
    margin-left: 50%;
    margin-top: -65px;
    margin-bottom: 19px;
}

h1 {
    color: #EC7505;
    margin: 0;
    font-size: 65px;
    font-family: 'Great Vibes';
}

/* Moves the about us down at the center of the page */
h2 {
    color: #89608e;
    display: inline-block;
    text-align: center;
    width: 100%;
    margin: auto;
    margin-top: -80px;
    font-size: 40px;
}

/* Puts the 'Winners' in between the two images */
h3 {
    margin: auto;
    width: 200px;
    margin-top: -330px;
    text-align: center;
    color: #e89005;
    font-size: 40px;
}

h4 {
    text-align: center;
    width: 100%;
    margin: 10px auto;
    margin-bottom: 0;
    font-size: 12px;
    color: #734779;
    font-style: italic;
}

p {
    margin-top: 10px;
    margin-bottom: 0;
    font-size: 16px;
    text-align: center;
    color: #89608e;
}

/* Adjusts the paragraph to be larger and not small */
.about {
    width: 215px;
    margin: auto;
    font-size: 20px;
    text-align: center;
    font-weight: normal;
}

/* Puts the paragraph in between the two images */
.winners {
    margin: auto;
    width: 200px;
    color: #89608e;
    font-size: 20px;
}

/* Makes a purple button at the top for the user to navigate with */
button {
    background-color: #2e3192;
    border-radius: 10px;
    height: 60px;
    color: white;
    font-size: 15px;
    width: 200px;
    cursor: pointer;
}

/* Makes the button turn blue when hovering the mouse over it */
button:hover {
    background-color: blue;
}

/* Puts the right button on the right side of the page */
.CompButton {
    float: right;
}

img {
    height: 300px;
}